html {
	font-family: sans-serif;
	background: #232323;
	color: #dedede;
}

a {
	color: #2289de;
}

a:hover {
	color: #de2222;
}

body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: none;
}

h1 {
	color: darkcyan;
	text-align: center;
}

h1 > big {
	color: lightblue;
}

h1 small {
	color: tomato;
	font-size: 0.8em;
}

h2 {
	color: goldenrod;
	text-align: center;
}

h3 {
	color: tomato;
	text-align: center;
}

code {
	color: lime;
	border-radius: 5px;
	font-size: 1.2em;
}

pre {
	background: #111222;
	border: 1px solid lime;
	border-radius: 10px;
	padding: 1em;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	max-width: 640px;
	margin:auto;
}

img {
	max-width: 90%;
	margin: auto;
	display: block;
	border: solid 2px beige;
}

nav {
	display: flex;
	flex-direction: column;
}
nav > a {
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.10em;
}

@media only screen and (min-width: 768px) {
	nav { flex-direction: row; }
}

footer {
	text-align: center;
}

.leftalign {
	text-align: left;
}
